/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  margin-left: 1em;
}
:root {
  --primary-color: #605dc8;
  --secondary-color: #8b89e6;
  --accent-color: #e8e7fa;
  --shadow-color: #e8e8e8;
}

::ng-deep :root {
  --primary-color: #605dc8;
  --secondary-color: #8b89e6;
  --accent-color: #e8e7fa;
  --shadow-color: #e8e8e8;
}

button {
  cursor: pointer;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}
